.yutakamaeno{
border: 5px solid #85097a;
}

.naldocanal{
border: 5px solid #098575;
margin: auto;
align-content: center;
}

.bluepen{
border: 5px dashed #092085;
margin: auto;
align-content: center;
}

.toninhotornado{
border: 5px solid #850909;
}